.heading{
    width: 100%;
    margin: 0px;
    text-align: left;
}
.heading h3{
    display: inline;
}
.heading button{
    float: right;
    border: 2px solid white;
    border-radius: 15px;
}
.big_image{
    width: 100%;
}
#play_button , #status{
    border-radius: 15px;
    font-size: 20px;
}
.instruction_img{
    display: inline-block;
    width: 45%;
}
h4{
    font-size: 18px;
    line-height: 2;
    margin: 0px;
    background: white;
    color: black;
}
.modal-dialog{
    width: 90%;
}
video{
    background:url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}